@using Computer_store.Domain.Entities;
@model Category
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Category</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComputerStore.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
        <main role="main" style="width: 400px" class="mt-5">
            <div class="card">
                <div class="card-body ps-5 pe-4">
                    <h1 class="mb-4">Edit Category</h1>
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Save</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

