@model Computer_store.Domain.Entities.User

<h2>Change Password</h2>

<form asp-action="ChangePassword" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required />
    </div>
    <button style="margin-top:30px" type="submit" class="btn btn-primary">Change Password</button>
</form>