@model Computer_store.Domain.Entities.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComputerStore.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
        <main role="main" style="width: 450px" class="mt-5">
            <div class="card">
                <div class="card-body" style="padding:1.5rem;">
                    <div class="d-flex align-items-center justify-content-center" style="gap:15px">
                        <form method="post" asp-controller="Pages" asp-action="Back">
                            <button class="btn btn-secondary" type="submit">Back</button>
                        </form>
                        <h1>Change Password</h1>
                    </div>
                    <form asp-action="ChangePassword" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required />
                        </div>
                        <button style="margin-top:30px" type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
